.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-drawer {
    width: 300px;
}

.example-card {
    margin: 20px 10px;
    text-align: left;
}

mat-card-header {
    display: block;
    text-align: center;
}

.example-form {
    display: block;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.example-full-width {
    width: 100%;
}