.titulo_centralizado {
    display: inline-block;
    width: calc(100% - 64px);
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px #3F51B5 solid;
}

.titulo_meworks {
    color: #3F51B5;
    font-size: 35px;
    text-decoration: none;
}