<mat-card>
  <mat-card-title>Login</mat-card-title>
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="E-mail">
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" matInput placeholder="Senha">
    </mat-form-field>
    
    <mat-grid-list cols="3" rowHeight="6:1">
      <mat-grid-tile>
          <mat-checkbox>Lembre-me!</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <a routerLink="/novaSenha">Esqueceu sua senha?</a>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="11:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>Entrar</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <a routerLink="/cadastrar">Cadastrar</a>
        </mat-grid-tile>
    </mat-grid-list>
          
  </div>
</mat-card>

