<div class="grid_simples">
    <div class="bloco">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>José Francisco</mat-card-title>
                <mat-card-subtitle>Encanador</mat-card-subtitle>  
            </mat-card-header>
            <mat-card-content>
                <p> Por mais de 20 anos o Sr. José Francisco trabalha com todos os tipos de tubulações</p>
                <mat-card-actions>
                    <button mat-button routerLink="/perfil">Ver prestador</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bloco">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>José Francisco</mat-card-title>
                <mat-card-subtitle>Encanador</mat-card-subtitle>  
            </mat-card-header>
            <mat-card-content>
                <p> Por mais de 20 anos o Sr. José Francisco trabalha com todos os tipos de tubulações</p>
                <mat-card-actions>
                    <button mat-button routerLink="/perfil">Ver prestador</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bloco">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>José Francisco</mat-card-title>
                <mat-card-subtitle>Encanador</mat-card-subtitle>  
            </mat-card-header>
            <mat-card-content>
                <p> Por mais de 20 anos o Sr. José Francisco trabalha com todos os tipos de tubulações</p>
                <mat-card-actions>
                    <button mat-button routerLink="/perfil">Ver prestador</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bloco">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>José Francisco</mat-card-title>
                <mat-card-subtitle>Encanador</mat-card-subtitle>  
            </mat-card-header>
            <mat-card-content>
                <p> Por mais de 20 anos o Sr. José Francisco trabalha com todos os tipos de tubulações</p>
                <mat-card-actions>
                    <button mat-button routerLink="/perfil">Ver prestador</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>

