.grid_simples {
    width: 800px;
    margin: 150px auto;
}

.bloco {
    display: inline-block;
    width: 380px;
    margin: 10px;
}

mat-card {
    display: block;
    max-width: 400px;
    padding: 30px;
    z-index: 1;
    text-align: left;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  